@model DocuSign.eSign.Model.EnvelopeSummary

@{
    ViewBag.Title = "Result from the Signing";
}

@using (Html.BeginForm())
{
    <p><strong>Envelope Summary</strong></p>
    <hr/>
    @Html.EditorForModel()
}
